@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&display=swap');
/* style table */
.contain{
  width: 100vw;
  min-height: 85vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:gray;
}
.contain-title{
  width: 100%;
  background-color: black;
  font-family: 'Noto Sans Thai Looped', sans-serif;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}
.contain-title h2{
  color: white;
  font-size: 25px;
}
table{
  border-collapse: collapse;
  width: 90%;
  margin-top: 5px;
}
thead{
  background-color: #323532;
  color: white;
  height: 30px;
}
th{
  text-align: center;
  padding: 10px;
}
tbody{
  background-color: #ebdfdf;
}
tr{
  height: 30px;
}
td{
  text-align: center;
  padding: 10px;
}
tr{
  border: #323532 1px solid;
}
.gap{
  margin: 0 3px;
  padding: 0 5px;
}
.minw{
  min-width: 100px;
}