@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Rubik+Dirt&display=swap');

.headpage{
    width: 100vw;
    height: 15vh;
    background-color: rgb(189, 189, 216);
    display: flex;
    align-items: center;
}
.logo{
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
    background-color: rgb(48, 48, 48);
    width: 30%;
}
.logo a{
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(231, 222, 222);
    font-size: 25px;
    font-weight: 800;
    font-family: 'Rubik Dirt', cursive;
    padding: 10%;
}
.eiei:hover{
    color:rgb(94, 92, 93);
    transition: 0.5s;
    background-color: rgb(175, 232, 5);
    font-size: 15px;
    font-weight: 700;
}
.eiei.active{
    color:rgb(250, 250, 250);
    font-size: 15px;
    font-weight: 700;
}
.Agreen.active{
    background-color: green;
}
.Ablue.active{
    background-color: rgb(18, 18, 104);
}

.Aorange.active{
    background-color: rgb(156, 129, 6);
}
.Apurple.active{
    background-color: rgb(109, 12, 103);
}
nav{
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content:space-around;
}
.eiei{
    text-decoration: none;
    color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.logo2{
    width: 5vh;
    height: 5vh;
    padding-right: 4px;
}


@media screen and (max-width: 570px){
    .headpage{
        flex-direction: column;
        height: 20vh;
    }
    .logo{
        width: 100%;
        height: 10vh;
    }
    nav{
        width: 100%;
    }
    
}
