.Allapi{
    background-color: blueviolet;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
.api1{
    height: 80vh;
    background-color: rgb(59, 49, 151);
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
}
.api2{
    height: 80vh;
    background-color: rgb(153, 255, 0);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.api3{
    height: 80vh;
    background-color: rgb(255, 0, 0);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.Allapi img{
    width: 30%;
    margin-left: 7%;
}
.textt {
    margin-left: 4%;
    margin-right: 7%;
}
.textt a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    padding: 10px 15px;
    border: 1px solid white;
    margin-top: 50px;
    
}
.textt p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.textt a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    transition: all 0.7s;
}
@media screen and (max-width:700px){
    .Allapi div{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .Allapi div img{
        width: 70%;
        max-width: 200px;
        margin: 0;
    }
    .Allapi div p{
        text-align: center;
        margin:  10px 5%;
        
    }
    .Allapi div a{
        width: 60%;
        margin: 10px auto;
        text-align: center;
    }
}